.header_container {
  position: relative;
  top: 0;
  width: 100%;
}

.header_subcontainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background: rgb(248, 248, 248); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgb(248, 248, 248, 1) 0%,
    rgb(233, 233, 233) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgb(248, 248, 248, 1) 0%,
    rgb(233, 233, 233) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(248, 248, 248, 1) 0%,
    rgb(233, 233, 233) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */
}
.logo_container,
.nav_icon {
  padding: 0.5rem;
}
.logo {
  width: 100%;
}
.nav_container {
  z-index: 10;
  background-color: rgb(243, 241, 241);
  position: absolute;
  width: 100%;
  top: 2.2rem;
}
.menu_container {
  list-style: none;
  position: relative;
}
.menu_container li {
  border-bottom: 1px solid #ccc;
}
.menu_link,
.menu_link_p {
  display: block;
  padding: 0rem 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
  font-weight: 600;
}
.subPackageLink {
  background-color: white;
}
.menu_link_icon {
  margin-left: 0.5rem;
}
